body{margin:0;
    padding:10%;
    background-image: url(password.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:serif;
    }
    .login{
        width:382px;
        overflow:hidden;
        margin:auto;
        margin:200000f;
        border-style:solid;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px; 
        border-width: 3PX;
        border-color: #757474;
        
    }
    #resetlink{
        background-color:rgb(24, 98, 172);
        width: 100%;
        height: 30px;
        
        }
    #email{
        height: 30px;
        border-color:rgb(3, 33, 63) ;
        width:95%;
        border-radius: 1%;
        border-style: solid;
        
    }